.mobile {
    display: none;
}

.navbar {
    width: 80%;
    margin: auto;
    padding: 1rem;
}

#contact {
    overflow: hidden;
}

#scrollUp {
    position: fixed;
    border: 1px solid;
    background: rgba(0, 0, 0, 0.64);
    color: white;
    z-index: 2;
    padding: 10px;
    right: 3%;
    bottom: 80px;
    opacity: .5;
    border-radius: 50%;

}

#scrollUp:hover {
    opacity: 1;
}

.fa-3x {
    font-size: 2em !important;
}

.foot-image {
    width: 200px;
    height: auto;
}

.navbar-brand {
    width: 220px;
    height: auto;

}
.under{
        margin-top: .5rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 2px solid #122048;
        width: 40%;
    }


.top-banner {
    position: relative;
    width: 100%;
    background: #f8f9fa;
    overflow: hidden;
}

.banner {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    /* display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column; */


}

.banner-text {
    position: absolute;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 15px;
    top: 25%;
    left: 25%;


}

.banner-contact {
    width: 70%;
    position: relative;
    text-align: left;
    width: 70%;
    margin: 0 auto;

    padding: 15px;
}

.angle {
    position: absolute;
    bottom: 10%;
    left: 50%;
    z-index: 3;
}

.offers-img {
    width: 80px;
    height: auto;
}

.board {
    position: absolute;
    bottom: -50px;
    width: 100%;
}

.first {
    height: 120px;
    background-color: #f8f9fa;
    transform: skewY(8deg);
    position: absolute;
    left: 0;
    bottom: -44px;


}

.second {
    right: 0;
    height: 120px;
    background-color: #f8f9fa;
    padding: 20px;
    text-align: right;
    transform: skewY(-5deg);
    position: absolute;
    bottom: -22px;

}

.second img {
    width: 100px;
    height: 60px;
    margin-right: 20%;
}

.offers {
    display: flex;
    background-color: #f8f9fa;
    height: 50vh;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 300px;
    text-align: left;
}

.about {
    height: 100vh;
    width: 100%;
    text-align: center;
    padding:15px;
}

.about-box {
    height: 300px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.middle-box {

    height: 400px;
    margin-top: -50px;
}

.services {
    height: 70vh;
    width: 100%;
    background-color: #122048;
    color: white;
}

.first-service-box {
    transform: skewX(20deg) translate(-40%);
    width: 30%;
    /* background-image: url(/images/climb.jpg); */
    background-size: cover;
    background-position: right;
    overflow: hidden;

}

.service-img {
    width: 130%;
    height: 100%;
    transform: skewX(-20deg);
    object-fit: cover;

}

.service-box {
    overflow: hidden;
}

.second-service-box {
    width: 70%;
    transform: skewX(20deg) translate(-10%);
}

.our-services {
    transform: skewX(-20deg);
    padding: 0 80px;
}

.mini-box-3 {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: black;

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}

.mini-box-1 img,
.mini-box-2 img,
.mini-box-3 img,
.mini-box-4 img {
    width: 135%;
}

.mini-box-1 {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: black;

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    position: relative;
}

.mini-box-2 {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: black;

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}

.mini-box-4 {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: black;

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
}

.mini-box-text {
    position: absolute;
    ;
    transform: skew(-20deg);
    background-color: #122048;
    padding: 10px 20px;
    display: none;
    cursor: pointer;
    z-index: 3;
}

.mini-box-1:hover .mini-box-text,
.mini-box-2:hover .mini-box-text,
.mini-box-3:hover .mini-box-text,
.mini-box-4:hover .mini-box-text {
    display: inline;
}

.contactForm {
    width: 50%;
    position: relative;
    padding: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: hsl(224, 60%, 94%);
}

.social-contact {
    width: 70%;
    text-align: center;
    padding-bottom: 20px;
}

form {
    padding: 50px 40px;
    text-align: left;
    border-radius: 5px;
    /* margin-top: 40px; */
    display: flex;
    justify-content: center;
    flex-direction: column;



}

label {
    padding: 5px;
    color: rgba(0, 0, 0, 0.64);
}

.form-group {
    border: 1px solid #ced4da;
    padding: 10px 0 0;
    background-color: hsl(224, 60%, 98%);
}

.contactInfo {
    width: 50%;
    position: relative;
    background-image: url(/images/banner1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;


}

.contactInfo .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    color: white;
    z-index: 3;
}

.contactInfo .text p {
    margin-bottom: 30px;
}

.contactOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(18, 32, 72, .6);
}

#social {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #ffffff;
    align-items: center;
}

#footer {
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

#footer {
    background-color: #122048;
    color: hsl(224, 60%, 80%);
}

.mobile {
    display: none;
}

.fa-2x {
    font-size: 1em !important;
}

.fa-stack {
    cursor: pointer !important;
    color: #122048 !important;
}

.fa-stack:hover {
    color: hsl(224, 60%, 80%) !important;
}


/* about ceo page  */
.page-banner {

    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.about-ceo {
    width: 70%;
    height: 100vh;
    margin: auto;
}

.ceo-image {
    width: 400px;
    height: 400px;
    padding: 30px;


}

.ceo-text {
    width: 60%;
    padding: 30px;
    line-height: 1.6;
}

/* services  */

.all-services {
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

.first-service,
.second-service,
.third-service,
.fourth-service {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.third-service-img img {
    object-fit: cover;
}

.about-banner {
    background-image: url(/images/climbing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.services-banner {
    background-image: url(/images/why.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.ceo-banner {
    background-image: url(/images/bg01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.company-banner {
    background-image: url(/images/sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer   */

.main-footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 15px;
    background-color: #f8f9fa;

}

@media (max-width: 1199.98px) {
    .navbar {
        width: 90%;
    }

    .fs-70 {
        font-size: 60px;
    }

    .banner {
        height: 80vh;
    }

    .w-70 {
        width: 100% !important;
        font-size: 14px !important;
    }

    .offer-cont {
        height: 80px;
    }

    .first {
        height: 120px;
        background-color: #f8f9fa;
        transform: skewY(8deg);
        position: absolute;
        left: 0;
        bottom: -38px;
    }
}

    @media (max-width: 991.98px) {
        .navbar {
            width: 90%;
        }

        .fs-70 {
            font-size: 50px;
        }

        .w-70 {
            width: 90% !important;
        }

        .first {
            height: 120px;
            background-color: #f8f9fa;
            transform: skewY(8deg);
            position: absolute;
            left: 0;
            bottom: -34px;
        }

    }

    @media (max-width: 767.98px) {
        .navbar {
            width: 100%;
        }

        .fs-70 {
            font-size: 45px;
        }

        .fa-3x {
            font-size: 1em !important;
        }

        h4 {
            font-size: 16px;
        }

        .banner {
            height: 80vh;
        }

        .w-70 {
            width: 90% !important;
        }

        .about {
            height: auto;
            padding-top: 40px;
        }

        .middle-box {
            height: 300px;
            margin-top: 0;
        }

        .about-container {
            margin: 0 !important;
            padding-top: 40px;
        }

        .services {
            height: auto;
            margin-top: 40px;
            margin-bottom: 40px;
            padding: 15px;
        }

        .service-box {
            flex-direction: column-reverse;
        }

        .second-service-box {
            width: 100% !important;
            transform: skewX(0);
        }

        .our-services {
            transform: skewX(0);
            padding: 30px 15px;
        }

        .unskew {
            transform: skewX(0);
        }

        .mini-box-1 img,
        .mini-box-2 img,
        .mini-box-3 img,
        .mini-box-4 img {
            width: 100%;
        }

        .services-scroll {
            overflow-x: scroll;
        }

        .first-service-box {
            display: none;
        }


        #contactUs {
            flex-direction: column;
        }

        .contactForm {
            width: 100%;


        }

        .contactInfo {
            width: 100%;
            padding: 50px 0;
            margin-top: 30px;
        }

        .contactInfo .text p {
            margin-bottom: 15px;
        }

        form {
            padding: 0;
            margin-top: 0;
        }

        #footer {
            background-color: #122048;
            color: hsl(224, 60%, 80%);
        }

        #social {
            height: auto;
        }

        .header {
            font-size: 30px;
            padding: 20px 0;
        }

        .page-banner {
            height: 35vh;
        }

        .about-ceo {
            flex-direction: column;
            width: 100%;
            height: auto;
        }

        .ceo-image {
            width: 100%;
            height: auto;
        }

        .ceo-text {
            width: 100%;
        }

        .all-services {
            height: auto;
            background-color: #f8f9fa;
        }

        .r-1,
        .r-3 {
            flex-direction: column;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
            margin-top: 20px;
            text-align: center;
            background-color: #fff;
        }

        .r-2,
        .r-4 {
            flex-direction: column-reverse;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
            margin-top: 20px;
            text-align: center;
            background-color: #fff;
        }

        .row .p-5 {
            padding: 15px !important;
        }

        .all-services .row .w-50 {
            width: 100% !important;
        }

        .first-service,
        .second-service,
        .third-service,
        .fourth-service {
            height: auto;

        }

        .desktop {
            display: none;
        }

        .mobile {
            display: inline;
        }

    }


    @media (max-width: 575.98px) {
        .banner {
            position: relative;
            width: 100%;
            height: 80vh;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .social-contact {
            width: 100%;
        }

        .banner-text {
            z-index: 1;
            position: absolute;
            padding: 15px;
            width: 100%;
            text-align: left;
        }

        .foot-image {
            display: none;
        }

        .first {
            height: 120px;
            background-color: #f8f9fa;
            transform: skewY(8deg);
            position: absolute;
            left: 0;
            bottom: -28px;
        }

        .fs-70 {
            font-size: 30px;
        }

        .offers {
            height: auto;
        }

        .box {
            height: auto;
            padding: 30px;
        }

        .about {
            height: auto;
            padding-top: 40px;
        }

        .middle-box {
            height: 300px;
            margin-top: 0;
        }

        .about-container {
            margin: 0 !important;
            padding-top: 40px;
        }

        .services {
            height: auto;
            margin-top: 40px;

            padding-bottom: 40px;
        }

        .service-box {
            flex-direction: column-reverse;
        }

        .second-service-box {
            width: 100% !important;
            transform: skewX(0);
        }

        .our-services {
            transform: skewX(0);
            padding: 30px 15px;
        }

        .unskew {
            transform: skewX(0);
        }

        .mini-box-1 img,
        .mini-box-2 img,
        .mini-box-3 img,
        .mini-box-4 img {
            width: 100%;
        }

        .mini-box-1,
        .mini-box-2,
        .mini-box-3,
        .mini-box-4 {
            width: 150px;
        }


        .services-scroll {
            overflow-x: scroll;
        }

        .first-service-box {
            display: none;
        }


        #contactUs {
            flex-direction: column;
        }

        .contactForm {
            width: 100%;
            padding: 50px 20px;

        }

        .contactInfo {
            width: 100%;
            padding: 50px 0;

        }

        .contactInfo .text p {
            margin-bottom: 15px;
        }

        form {
            padding: 0;
            margin-top: 0;
        }

        #footer {
            background-color: #122048;
            color: hsl(224, 60%, 80%);
        }

        .header {
            font-size: 30px;
            padding: 20px 0;
        }

        .page-banner {
            height: 30vh;
        }

        .contactInfo .text {

            width: 100%;
            color: white;
            padding: 10px;

        }

        .nav-footer {
            justify-content: space-around;
            font-size: 12px !important;
        }

        h2,
        .header {
            font-size: 18px;
        }

        .fs-50,
        .fs-40 {
            font-size: 28px !important;
        }

        .fs-18 {
            font-size: 16px !important;
        }

        .banner-text {
            left: 0;
        }

        .carousel-item {
            height: 80vh;
        }

        .angle {
            left: 45%;
        }

        .carousel-control-next,
        .carousel-control-prev {
            display: none;
        }

        #footer {
            font-size: 12px;
        }
        .w-70{
            width:100% !important;
        }

    }

    @media (max-width :320px) {
   .nav-footer{
       font-size: 12px !important;
   }
    }